#general-service-app {
  border: 3px dotted #1bb9c4;
  box-shadow: 4px 3px 10px -2px rgba(0, 0, 0, 0.32);
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 16px;
  padding: 24px;
}

#general-service-app h2 {
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-size: 28px;
  font-weight: bolder;
  margin: 0;
}

#general-service-app article {
  padding: 0 0 16px 16px;
  position: relative;
}

#general-service-app article::before {
  background-color: #ccc;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 8px;
}

#general-service-app article h3 {
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-size: 20px !important;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0;
}

#general-service-app article p {
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 12px 0;
}

#general-service-app article ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#general-service-app article li {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

#general-service-app article a {
  background-color: #eee;
  border-radius: 4px;
  border: 0;
  color: inherit;
  display: inline-block;
  font-family: ui-sans-serif, system-ui, sans-serif;
  font-size: inherit;
  font-weight: normal;
  padding: 5px 15px;
  text-decoration: none;
}

#general-service-app article a:hover {
  background-color: #ccc;
}
