#general-service-app {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 16px;
  min-height: 400px;

  &.loaded {
    min-height: auto;
  }

  h2 {
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 28px;
    font-weight: bolder;
    margin: 0;
  }

  article {
    padding: 0 0 16px 16px;
    position: relative;

    &::before {
      background-color: #ccc;
      border-radius: 50%;
      content: "";
      height: 8px;
      left: 0;
      position: absolute;
      top: 8px;
      width: 8px;
    }

    h3 {
      font-family: ui-sans-serif, system-ui, sans-serif;
      font-size: 20px !important;
      font-weight: 600;
      letter-spacing: 0.5px;
      margin: 0;
    }

    p {
      font-family: ui-sans-serif, system-ui, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      margin: 12px 0;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-size: inherit;
        margin: 0;
        padding: 0;

        a {
          background-color: #eee;
          border-radius: 4px;
          border: 0;
          color: inherit;
          display: inline-block;
          font-family: ui-sans-serif, system-ui, sans-serif;
          font-size: inherit;
          font-weight: normal;
          padding: 5px 15px;
          text-decoration: none;

          &:hover {
            background-color: #ccc;
            color: inherit;
          }
        }
      }
    }
  }
}
